@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body {
	background: #424242;
}
h1 {
	color:  white;
	text-align: center;
	background: black;
	font-size: 75px;
	font-family: 'Caveat', cursive;
	text-shadow: 4px 4px 11px rgba(255, 129, 255, 1); /* https://css3gen.com/text-shadow/
}
span {
	color: red;
}
.yellow_letter {
	color: yellow;
}
.blue_letter {
	color: blue;
}
#golden_letter {
	color: gold;
}
